@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-[#2c88f7] text-white;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
  .glass {
    @apply border border-white/15 bg-white/15 shadow-lg backdrop-blur-md;
  }
}
